* {
  background-color: #93F6FF;
  box-sizing: border-box;
}

#header {
  border: 2px solid black;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  width: 100%;
  margin-bottom: 0px;
  padding-bottom: 75px;
  background-image: url("assets/Sky-Background.jpg");
  background-position: center;
  background-size: cover;
  display: inline-block;
}
#header img {
  display: inline-block;
  border: 2px solid black;
  border-radius: 10px;
  margin-left: 90px;
  margin-top: 40px;
  position: absolute;
    /*float: left;*/
}
#header h1 {
  font-size: 45px;
  background: none;
  font-family: 'Corben', cursive;
  color: #3700B2;
  text-align: center;
  width: 75%;
  margin: auto;
  padding-top: 35px;
}
#header h2 {
  font-size: 20px;
  /*border: 2px solid black;*/
  background: none;
  font-family: 'Corben', cursive;
  text-align: center;
  width: 600px;
  margin: auto;
}

/*this animates the bird flying across the screen*/
@-webkit-keyframes move
{
    from {
        left: 0;
    }
    to {
        left: 100%;
    }
}
@keyframes move
{
    from {
        left: 0;
    }
    to {
        left: 100%;
    }
}


a#rotator {
    text-decoration: none;
    left: 75%;
    margin-top: -110px;
    margin-left: 70px;
    position: absolute;
    background: none;
    -webkit-animation: move 5s;
    animation: move 5s;
}

a#rotator img {
    margin-top: -100px;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    border-radius: 15px;
    background: none;
    transition-duration: 1s;

    }

a#rotator img:hover {
    box-shadow: 0 3px 15px #000;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: translate()
}

#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

}

#menu li{
  width: 25%;
  border: 2px solid black;
  float: left;
  background-color: #02D305;
  font-family: 'Corben', cursive;
  size: 36px;
  text-align: center;
  margin-top: 0px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

}
#menu a {
  background-color: #02D305;
}
#calltoaction {
  margin-left: 30%;

}
#calltoaction fieldset {
  text-align: center;
  width: 50%;
}
#calltoaction  legend{
  /*background-color: #02D305;*/
  width: 50%;
  text-align: center;
}
#calltoaction  form {
  text-align: center;

}
