* {
  background-color: #FFCA00;
  box-sizing: border-box;
}
/*header style*/
#header {
  border: 2px solid black;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  width: 100%;
  margin-bottom: 0px;
  padding-bottom: 75px;
  background-image: url("assets/head-background-boat-sea.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  display: inline-block;
}
#header img {
  display: inline-block;
  border: 2px solid black;
  border-radius: 10px;
  margin-left: 90px;
  margin-top: 40px;
  position: absolute;
}
#header h1 {
  font-size: 45px;
  background: none;
  font-family: 'Corben', cursive;
  color: #3700B2;
  text-align: center;
  width: 75%;
  margin: auto;
  padding-top: 35px;
}
#header h2 {
  font-size: 16px;
  background: none;
  font-family: 'Corben', cursive;
  text-align: center;
  width: 600px;
  margin: auto;
}
/*this animates the bird flying across the screen*/
@-webkit-keyframes move
{
    from {
        left: 0;
    }
    to {
        left: 100%;
    }
}
@keyframes move
{
    from {
        left: 0;
    }
    to {
        left: 100%;
    }
}
a#rotator {
    text-decoration: none;
    left: 78%;
    margin-top: -100px;
    margin-left: 70px;
    position: absolute;
    background: none;
    -webkit-animation: move 5s;
    animation: move 5s;
}
a#rotator img {
    margin-top: -100px;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    border-radius: 15px;
    background: none;
    transition-duration: 1s;
    }
a#rotator img:hover {
    box-shadow: 0 3px 15px #000;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: translate()
}
/*nav bar elements*/
#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#menu li{
  width: 25%;
  border: 2px solid black;
  float: left;
  background-color: #804D00;
  font-family: helvetica;
  size: 36px;
  text-align: center;
  margin-top: 0px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
#menu a {
  background-color: #804D00;
  color: white;
  text-decoration: none;
}
/*container for box1 and box2 content divs */
.contentcontainer1 {
  margin-top: 75px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  overflow: hidden;
  background-color: white;
  border-radius: 10px;

}
#box1content {
  width: 50%;
  float:left;
  text-align: center;
  padding-right: 20px;
  padding-left: 20px;
  background-color: white;
  margin-top: 20px;
}
#box1content img {
  float: left;
  border-radius: 20px;
  margin-right: 20px;
  background-color: white;
}
#box1content p {
  text-align: left;
  background-color: white;

}
#box1content h3 {
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
  margin-left: 0px;
  margin-right: 0px;
  background-color: #804D00;
  color: white;
}
#box2content {
  overflow: hidden;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  background-color: white;
  margin-top: 20px;
}
#box2content img {
  float: left;
  border-radius: 20px;
  margin-right: 20px;
  background-color: white;

}
#box2content p {
  text-align: left;
  background-color: white;
}
#box2content h3 {
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #804D00;
  color: white;
}
/*container for box3 and box4 content divs */
.contentcontainer2 {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  overflow: hidden;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 20px;
}
#box3content {
  width: 50%;
  float:left;
  text-align: center;
  padding-right: 20px;
  background-color: white;
}
#box3content img {
  float: left;
  border-radius: 20px;
  margin-right: 20px;
  background-color: white;
}
#box3content p {
  text-align: left;
  background-color: white;
}
#box3content h3 {
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #804D00;
  color: white;
}
#box4content {
  overflow: hidden;
  text-align: center;
  padding-left: 20px;
  background-color: white;
}
#box4content img {
  float: left;
  border-radius: 20px;
  margin-right: 20px;
  background-color: white;
}
#box4content p {
  text-align: left;
  background-color: white;
}
#box4content h3 {
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #804D00;
  color: white
}
/*CTA form that links to from.html so user can start observation*/
#calltoaction {
  display: inline-block;
  margin-left: 20%;
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 20%;
  margin-right: auto;
  margin-bottom: 20px;
  text-align: center;
}
#calltoaction fieldset {
  text-align: center;
  width: 100%;
}
#calltoaction  legend{
  text-align: center;
}
#calltoaction  form {
  text-align: center;
}
